nav {
    padding: 0px 40px 0px 70px !important;
    background-color: transparent;
}

.right-menu {
    margin: 0px;
    display: flex;
    list-style-type: none;
}

.right-menu li a {
    color: white;
    text-decoration: none;
    margin: 0px 18px;
    font-size: 14px;
    padding-bottom: 3px;
    transition: 0.3s;
}

.right-menu li a:hover {
    border-bottom: 1px solid white;
}

.active {
    padding-bottom: 3px;
    border-bottom: 1px solid white;
}

.navbar-icons button {
    background-color: transparent;
    color: #d8d8d8;
    font-size: 14px;
    border: none;
    transition: 0.3s;
}

.navbar-icons button:hover {
    color: #7a7a7a;
}

div.navbar-icons a {
    margin-left: 0px;
    color: #444444;
}

div.navbar-icons a:hover {
    border: 0px;
}

.right-menu li:hover .dropdown-menu.home-versions {
    display: block;
}

div.cart-info {
    right: 50px;
}

.home-versions {
    background-color: rgba(0, 0, 0, 0.9);
    padding-right: 30px;
}


div.home-versions a {
    padding: 15px 20px;
    font-size: 14px;
}

div.home-versions a:hover {
    background-color: transparent;
    color: #999999;
    border-bottom: 0px !important;
}

.carousel {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel-item img {
    height: 100vh;
    filter: brightness(80%);
    object-fit: cover;
}

.carousel-caption {
    top: 30%;
}

.carousel .carousel-indicators button {
    height: 8px;
    width: 8px;
    border: 2px solid white;
    opacity: 1;
    background-color: transparent;
    border-radius: 30px;
}

.carousel .carousel-indicators button.active {
    background-color: white;
}

.carousel .carousel-caption h5 {
    font-size: 60px;
    margin-bottom: 25px;
    font-weight: bolder;
    letter-spacing: 10px;
}

.carousel .carousel-caption p {
    font-size: 17px;
    width: 720px;
    margin: auto;
}

.read-more-link {
    background-color: white;
    color: black;
    text-decoration: none;
    margin-top: 41px;
    display: inline-block;
    font-weight: 700;
    padding: 13px 32px;
    font-size: 15px;
    line-height: 15px;
}

.read-more-link:hover {
    background-color: black;
    color: white;
}

.black-bg-nav {
    transition: 0.3s;
    background-color: black;
}

.modern-design {
    padding-top: 129px;
    padding-bottom: 120px;
    text-align: center;
}

.modern-design h1 {
    font-weight: lighter;
    font-size: 32px;
    line-height: 1.2em;
    letter-spacing: 10px;
    color: #101010;
}

.modern-p {
    color: #a0a0a0;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    width: 680px;
    margin: auto;
    margin-bottom: 20px;
}

.list-modern-design {
    margin-top: 80px;
}

.list-modern-design li {
    position: relative;
}

.list-modern-design li div {
    margin-left: 10px;
    margin-right: 10px;
}

.list-modern-design li:first-child div {
    margin-left: 20px;
}

.list-modern-design li:last-child div {
    margin-right: 20px;
}

.target-content {
    border: 1px solid red;
    z-index: 1;
    border: 1px solid #e8e8e8;
    padding: 10px;
    text-align: center;
    line-height: 27.2px;
    margin-bottom: 12px;
    color: #595959;
    padding-top: 55px;
}

.target-content span {
    font-size: 19px;
    color: #303030;
    font-weight: bolder;
    padding-bottom: 20px;
    display: block;
    letter-spacing: 4px;
}

.target-icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: black;
    color: white;
    font-size: 32px;
    padding: 12px 20px;
    border-radius: 50%;
    margin: 0px !important;
}

.parallax {
    background-image: url("https://ld-wp73.template-help.com/wordpress/prod_15696/v3/wp-content/uploads/2019/09/siyan-ren-14405-unsplash-1.jpg");
    position: relative;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding-top: 100px;
    min-height: 716px;
}

.parallax-inner {
    margin: 70px 10% 70px 10%
}

.bg {
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    opacity: 0.7;
    height: 100%;
}

.services-list span {
    color: white;
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 20px;
    display: block;
}

.services-list p {
    color: white;
    font-size: 14px;
}

.services-list {
    max-width: 583px;
    display: flex;
    flex-direction: column;
}

.services-list li div {
    position: relative;
}

.services-list li div div {
    position: absolute;
    color: white;
    font-size: 20px;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 50%;
    left: -55px;
    top: 20px;
}

.movile-img {
    width: 100%;
    opacity: 1;
    height: 645px;

}