nav {
    padding: 0px 40px 0px 70px;
    background-color: transparent;
}

.right-menu {
    margin: 0px;
    display: flex;
    list-style-type: none;
}

.right-menu li a {
    color: white;
    text-decoration: none;
    margin: 0px 18px;
    font-size: 14px;
    padding-bottom: 3px;
    transition: 0.3s;
}

.right-menu li a:hover {
    border-bottom: 1px solid white;
}

.active {
    padding-bottom: 3px;
    border-bottom: 1px solid white;
}

.navbar-icons button {
    background-color: transparent;
    color: #d8d8d8;
    font-size: 14px;
    border: none;
    transition: 0.3s;
}

.navbar-icons button:hover {
    color: #7a7a7a;
}

div.navbar-icons a {
    position: relative;
    margin-left: 0px;
    color: #d8d8d8;
}

div.navbar-icons a:hover {
    color: #3b3d42;
    border: 0px;
}

div.navbar-icons a .cart-number-items {
    display: block;
    position: absolute;
    background-color: #303030;
    color: white;
    top: -15px;
    left: 15px;
    width: 21px;
    height: 21px;
    text-align: center;
    border-radius: 50%;
}

div.navbar-icons .cart-content {
    position: absolute;
    background-color: white;
    padding: 20px;
    left: -170px;
    width: 250px;
    height: 138px;
    display: none;
    animation-duration: 0.3s;
}

div.navbar-icons .cart-content h4 {
    margin: 15px 0px;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: #3b3d42
}

.navbar-icons .cart {
    position: relative;
}

.right-menu li:hover .dropdown-menu.home-versions {
    display: block;
}

div.cart-info {
    right: 50px;
}

.home-versions {
    background-color: rgba(0, 0, 0, 0.9);
    padding-right: 30px;
}


div.home-versions a {
    padding: 15px 20px;
    font-size: 14px;
}

div.home-versions a:hover {
    background-color: transparent;
    color: #999999;
    border-bottom: 0px !important;
}

.carousel {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel-item img {
    height: 100vh;
    filter: brightness(80%);
    object-fit: cover;
}

.carousel-caption {
    top: 30%;
}

.carousel .carousel-indicators button {
    height: 8px;
    width: 8px;
    border: 2px solid white;
    opacity: 1;
    background-color: transparent;
    border-radius: 30px;
}

.carousel .carousel-indicators button.active {
    background-color: white;
}

.carousel .carousel-caption h5 {
    font-size: 60px;
    margin-bottom: 25px;
    font-weight: bolder;
    letter-spacing: 10px;
}

.carousel .carousel-caption p {
    font-size: 17px;
    width: 720px;
    margin: auto;
}

.read-more-link {
    background-color: white;
    color: black;
    text-decoration: none;
    margin-top: 41px;
    display: inline-block;
    font-weight: 700;
    padding: 13px 32px;
    font-size: 15px;
    line-height: 15px;
}

.read-more-link:hover {
    background-color: black;
    color: white;
}

.black-bg-nav {
    transition: 0.3s;
    background-color: black;
}

.modern-design {
    padding-top: 129px;
    padding-bottom: 120px;
    text-align: center;
}

.modern-design h1 {
    font-weight: lighter;
    font-size: 32px;
    line-height: 1.2em;
    letter-spacing: 10px;
    color: #101010;
}

.modern-p {
    color: #a0a0a0;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    width: 680px;
    margin: auto;
    margin-bottom: 20px;
}

.list-modern-design {
    margin-top: 80px;
}

.list-modern-design li {
    position: relative;
}

.list-modern-design li div {
    margin-left: 10px;
    margin-right: 10px;
}

.list-modern-design li:first-child div {
    margin-left: 20px;
}

.list-modern-design li:last-child div {
    margin-right: 20px;
}

.target-content {
    border: 1px solid red;
    z-index: 1;
    border: 1px solid #e8e8e8;
    padding: 10px;
    text-align: center;
    line-height: 27.2px;
    margin-bottom: 12px;
    color: #595959;
    padding-top: 55px;
}

.target-content span {
    font-size: 19px;
    color: #303030;
    font-weight: bolder;
    padding-bottom: 20px;
    display: block;
    letter-spacing: 4px;
}

.target-icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: black;
    color: white;
    font-size: 32px;
    padding: 12px 20px;
    border-radius: 50%;
    margin: 0px !important;
}

.parallax {
    background-image: url("https://ld-wp73.template-help.com/wordpress/prod_15696/v3/wp-content/uploads/2019/09/siyan-ren-14405-unsplash-1.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 780px;
    opacity: 0.42;
    position: absolute;
    top: 0px;
}

.parallax-inner {
    max-width: 1220px;
    margin: 70px auto
}

.bg {
    position: relative;
    padding-top: 65px;
    background-color: #000000;
    width: 100%;
    height: 100%;
}

.services-list span {
    color: white;
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 20px;
    display: block;
}

.services-list p {
    color: white;
    font-size: 14px;
}

.services-list {
    display: flex;
    flex-direction: column;
}

.services-list li div {
    position: relative;
}

.services-list li div div {
    position: absolute;
    color: white;
    font-size: 20px;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 50%;
    left: -55px;
    top: 20px;
}

.movile-img {
    display: block;
    opacity: 0.99;
    margin: auto;
    width: 500px;
    height: 645px;

}

.imgs-list {
    margin-bottom: 0px;
}

.imgs-list img {
    width: 100%;
}

.imgs-list li {
    position: relative;
}

.imgs-list div {
    margin: 10px;
}

.amazing-work {
    padding-top: 81px;
    padding-bottom: 70px;
}

.amazing-work h2 {
    text-align: center;
    font-weight: lighter;
    font-size: 34px;
    line-height: 51px;
    letter-spacing: 12px;
}

.amazing-work p {
    text-align: center;
    font-size: 18px;
    color: #595959;
    margin-bottom: 64px;
}

.amazing-work ul {
    margin: auto;
    max-width: 1220px;
}

div.hover-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: black;
    margin: 0px;
    width: calc(100% - 20px);
    padding: 10px;
    display: none;
    animation-duration: 0.5s;
}

div .hover-text-title {
    margin-bottom: 5px;
    color: white;
    line-height: 21px;
    font-weight: bolder;
    font-size: 15px;
}

div .hover-text-sub {
    text-align: center;
    color: #5c5c5c;
    font-size: 13px;
    font-weight: 400;
    line-height: 22.75px;
    margin-bottom: 5px;
}

.imgs-list li:hover .hover-text {
    display: block;
}

.parallax-modern {
    background-image: url("https://ld-wp73.template-help.com/wordpress/prod_15696/v3/wp-content/uploads/2019/09/image-new-design-4.jpg");
    position: relative;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding-top: 122px;
    padding-bottom: 89px;
}

.parallax-modern-inner div {
    width: 596px;
    background-color: white;
    opacity: 0.95;
    padding: 50px 55px 82px 42px;
    margin-left: 60px;
}

.parallax-modern-inner div h2 {
    color: #303030;
    font-size: 54px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 14.58px;
    margin-bottom: 18px;
}

.parallax-modern-inner div p {
    color: #474747;
    font-family: "Muli",
        Sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
    flex-basis: 100%;
    margin-bottom: 50px;
}

.parallax-modern-inner div a {
    text-decoration: none;
    padding: 12px 27px 12px 27px;
    background-color: #d8d8d8;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.parallax-modern-inner div a:hover {
    background-color: black;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 55px;
    padding-bottom: 33px;
    background-color: #f2f2f2;
}

footer a {
    padding-left: 14px;
    padding-right: 14px;
    font-size: 14px;
    color: #303030;
}

.footer-icons {
    margin-top: 6px;
    margin-bottom: 20px;
}

footer a:hover {
    color: #999;
}

footer p {
    color: #999;
    font-size: 12px;
}

/*Movile */

.bars-button {
    color: white;
    display: none;
}

.movile-menu {
    display: none;
}

@media only screen and (max-width: 800px) {
    .not-show-movile {
        display: none;
    }

    .bars-button {
        display: block;
    }

    .right-menu {
        padding: 0px;
    }

    .navbar a {
        margin: 0px;
        padding: 0px;
    }

    nav {
        padding: 60px;
    }

    .navbar-brand img {
        width: 166px;
    }

    .movile-menu {
        position: relative;
        width: 100%;
        left: 0px;
        top: 0px;
        padding: 10px 17px;
        background-color: black;
        height: 200vh;
        position: fixed;
        z-index: 10000;
        overflow: hidden;
        animation-duration: 0.4s;
    }

    .movile-menu li a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px 10px;
        font-size: 11px;
    }

    .movile-menu .active {
        border-left: 1px solid white;
        border-bottom: none;
    }

    .close-button {
        position: absolute;
        right: 20%;
        color: red;
        top: 0px;
        padding: 10px;
        font-weight: 900;
    }

    .movile-dropdown {
        display: none;
        margin-left: 20px;
    }

    .movile-dropdown {
        margin-left: 20px;
    }

    .movile-dropdown .active-home {
        color: #999;
    }

    .parallax-modern-inner div {
        padding: 50px 20px;
        width: 100%;
        margin: auto;
    }

    .parallax-modern-inner div h2 {
        font-size: 40px;
    }

    .parallax-modern {
        padding: 90px 15px;
    }

    .parallax-modern {
        background-attachment: scroll;
    }

    p.modern-p {
        width: 100%;
    }

    .modern-design {
        padding: 50px 15px;
    }

    .modern-design .list-modern-design div.target-content {
        margin: 30px 0px;
    }

    .target-icon {
        top: 30px;
    }

    .movile-img-container {
        display: none;
    }

    .services-div {
        padding-left: 80px;
        padding-right: 20px;
    }

    .parallax-inner {
        margin: 55px auto;
    }

    .bg {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    .services-list {
        margin-bottom: 0px;
    }

    .parallax {
        background-attachment: scroll;
    }
}